<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> Spring Boot </title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h3> HOME PAGE </h3>
            </div>

            <div class="row">
                <a href="/user/list">User management</a>
            </div>

            <div class="row">
                <div class="col-6">
                    <a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
                    <a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
                    <a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
                    <a href="/trade/list">Trade</a>&nbsp;|&nbsp;
                    <a href="/ruleName/list">Rule</a>
                </div>
                <div class="col-6 text-right">
                    Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
                    <form th:action="@{/logout}" method="POST">
                        <input class="btn btn-primary btn-sm" type="submit" value="Logout"/>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>